<div class="content">
  <h1>Comece a conversão!</h1>
<form ng-submit="addString()">
    <input type="string" placeholder="Mensagem para números"
    ng-model="messagestring" maxlength="255"/>
    {{numberReturn}}

    <input type="submit" ng-disable="addString()" value="Enviar">
  </form>
  <form ng-submit="addNumber()">
      <input type="text"  placeholder="Números para mensagem"
      ng-disable="addNumber()"
      ng-model="messagenumber"/>
      {{stringReturn}}
      <input type="submit" value="Enviar">
    </form>
  </div>
  <div>
    {{error}}
