    <div class="content" >
        <table table-layout="fixed" class="paleBlueRows">
            <thead>
            <tr>
            <th>Mensagem</th>
            <th>Mensagem convertida</th>
            <th>Data de criação</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="message in messages">
            <td>{{message.content}}</td>
            <td>{{message.converted}}</td>
            <td>{{message.createdAt | date:'medium'}}</td>
            </tr>
            </tbody>
            </table>
    </div>
    <h3 color="red" font-weight= "bold">{{error}}</h3>

